//site color variables
$body-color: #fff;
$primary-color: #EAA4A4;
$secondary-color: #ADD6D2;
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;
$stone: #e6e6e6;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$heading-font-family: 'Neusa Next Std';
$text-font-family: 'Roboto Mono';

$primary-font: normal normal normal 20px/30px 'Roboto Mono';
$secondary-font: normal normal bold 15px/45px 'Neusa Next Std';

$carbon: #222222;
$bay: #0E6EB9;
$surf: #4EC4CE;
$lagoon: #1D9CD3;
$ash: #F1F1F1;
$lead: #666666;
$steel: #999999;
$silver: #CCCCCC;
$stone: #E6E6E6;
$default: #343434;
